<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container jumbotron">
<table class="table table-hover ">
    <thead class="thead-dark ">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <% let cont = 1 %>
    <% users.forEach(user => { %>
    <tbody>
    <tr>
        <th scope="row"><%= cont++ %></th>
        <td><a href="/accounts/profile/<%= user._id %>"><%= user.name %></a></td>
        <td><%= user.surname %></td>
        <td><a href="/accounts/update-user/<%= user._id %>"><button type="button" class="btn btn-primary">Atualizar</button></a></td>
        <td><a href="/accounts/delete-user/<%= user._id %>"><button type="button" class="btn btn-danger">Deletar</button></a></td>
    </tr>
    <%})%>
    </tbody>
</table>
    <a href="/accounts/new-user"><button type="submit" class="btn btn-success">Novo</button></a>
    <a href="/accounts/login"><button type="button" class="btn btn-warning">Login (Beta)</button></a>
</div>
</body>
</html>